%h2 About

%body
	DungeonWizard is a tool for creating customizable, unique PathFinder maps for Dungeon Masters.  This tool allows different parameters, such as Dungeon Type, Party Size, Party Level, Terrain, Climate, Difficulty, and more to be specified by you, the DungeonMaster.  The map that is generated will be tailored to the settings you provide, and what sets DungeonWizard apart from other map generators is the fact that our engine will populate your map with creatures, also according to your specifications.  With such customizable power at your hands, start saving time by using DungeonWizard to help create unique, custom maps that suit your needs in mere seconds!
