%h2 Contact Us

%body
	Experiencing Problems?  Want new Features added to our engine?  Or do you have feedback or just need help?  Well, shoot us an email at dungeonwizard@gmail.com and we'll be sure to get back to you ASAP!
