%h2 Instructions & Field Details

%h3 Instructions

%body
	To use our generator, simply complete any or all of the given fields on the generator page, then click the "Generate" button to create your unique map!
	
%h3 Field Details
	%ul
		%li	Dungeon Type: 
		%li Terrain: 
		%li Climate: 
		%li Party Size: 
		%li Party Level:
		%li Difficulty: 
		%li Required Enemy: 
