- #This file is 'app/views/encounters/_encounter.html.haml'
%div{:class => ".panel", :id => "encounterPanel"}
  %div{:class => "table"}
    %tr
      %td= encounter.climate
      %td= encounter.terrain
      %td= encounter.xp
  %div{:class => ".col-sm-4"}
    - if encounter.characters.empty?
      %div{:class =>"panel-body"}
        No characters were found that meet your requirements.
    -else
      - encounter.characters.each do |character|
        - unless character.nil?
          = render character