- #This file is 'app/views/encounters/_encounter.html.haml'
%div{:class => "table"}
  %tr
    %td= encounter.climate
    %td= encounter.terrain
    %td= encounter.xp
- @encounter.characters.each do |character|
  = render character