- #This file is 'app/views/encounters/_encounter.html.haml'
%div{:class => "panel panel-default", :id => "encounterPanel"}
  <div class = "panel-heading" id = "encounterHeading">#{encounter.details}<span class = "badge" id = "xpBadge">#{encounter.xp} XP</span></div>
  %div{:class => ".col-sm-4  en-container"}
    - if encounter.characters.empty?
      %div{:class =>"panel-body"}
      GM liberty encounter; Either ignore this encounter or setup a trap.
    -else
      - encounter.characters.each do |character|
        - unless character.nil?
          = render character