-# This file is app/views/maps/contact.html.haml
%html
  %head
    = stylesheet_link_tag 'bootstrap', 'media' => 'all'
    = stylesheet_link_tag 'bootstrap-theme', 'media' => 'all'
    = stylesheet_link_tag 'typeahead', 'media' => 'all'
    = stylesheet_link_tag 'application', 'media' => 'all'
  %body
  =render 'nav'
  %div{:class => "container"}
    %div{:class => "row"}
      %div{:class => "col-md-12"}
        %h1 Contact Us
        %p Experiencing Problems?  Want new Features added to our engine?  Or do you have feedback or just need help?  Well, shoot us an email at dungeonwizard@gmail.com and we'll be sure to get back to you ASAP!
